In [2]:
import pandas as pd
import math
import numpy as np

In [3]:
data = pd.read_csv('Tornado Coords only.csv')

In [4]:
data.head()

   BEGIN_LAT  BEGIN_LON  END_LAT  END_LON
0      25.47     -80.63    25.47   -80.47
1      38.15     -75.95    38.17   -75.93
2      37.53     -87.27    37.53   -87.27
3      43.87    -116.50    43.87  -116.50
4      32.85     -90.42    32.85   -90.42

In [5]:
radius = 6371
length = len(data)
totaldist = 0

In [12]:
def haversine(row):
    blat = row[['BEGIN_LAT']]
    blon = row[['BEGIN_LON']]
    elat = row[['END_LAT']]
    elon = row[['END_LON']]
    
    blon,blat,elon,elat = map(math.radians, [blon,blat,elon,elat])
    dlon = elon-blon
    dlat = elat-blat
    a = np.sin(dlat/2)**2 + np.cos(blat) * np.cos(elat) * np.sin(dlon/2)**2
    c = 2*np.arcsin(np.sqrt(a))
    km = radius * c
    return km

data['distance'] = data.apply(lambda row: haversine(row), axis=1)

In [13]:
data.head()

   BEGIN_LAT  BEGIN_LON  END_LAT  END_LON   distance
0      25.47     -80.63    25.47   -80.47  16.062072
1      38.15     -75.95    38.17   -75.93   2.829031
2      37.53     -87.27    37.53   -87.27   0.000000
3      43.87    -116.50    43.87  -116.50   0.000000
4      32.85     -90.42    32.85   -90.42   0.000000

In [16]:
np.mean(data['distance'])

12.417105687840035